<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>おみくじ</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
</head>

<body>

    <div id="home" class="big-bg">
        <header class ="page-header">
            <h1>お金稼ぎサイト</h1>
            <p>1日1回きり。それ以上はだめです</p>
        </header>

        <br class="home-content wrapper">
            <a href=" http://127.0.0.1:5000/job/thxmam"><button type="button" class="button">お母さんに感謝する</button></a>
            <a href=" http://127.0.0.1:5000/job/nengajo"><button type="button" class="button">年賀状を受け取る</button></a>
            <a href=" http://127.0.0.1:5000/job/oosoji"><button type="button" class="button">掃除をする</button></a>
            <button type="button" onclick="history.back()" class="button">戻る</button>
        </div>
    </div>

</body>
</html>