<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>おみくじ</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style_for_thxmam.css')}}">
</head>

<body>

    <div id="home" class="big-bg">
        <header class ="page-header">
            <h1>絵馬を書く</h1>
        </header>

        <div style="text-align:center;margin-top: 5em;">
            <img src = "/static/images/hatsuhinode.png">
        </div><br/>

        <div class="box15">
            <p>絵馬を書いた!1000円ゲット!</p>
        </div>

        <div class="home-content wrapper">

            <form action='/job/ema' method='POST'>
                <input type='submit' value='受け取る' class="button">
            </form>

            <button type="button" onclick="history.back()" class="button">戻る</button>
        </div>
    </div>


</body>

</html>