<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>おみくじ</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
</head>

<body>

    <div id="home" class="big-bg">
        <header class ="page-header">
            <h1>早起き<p><font size=5pt>早起きして1000円ゲット!</font></p></h1>
            <!-- <p>早起きして1000円ゲット!</p> -->
        </header>

        <div style="text-align:center;margin-top: 5em;">
            <img src = "/static/images/hayaoki.png">
        </div><br/>

        <div class="home-content wrapper">
            <form action='/job/neshogatu/hayaoki' method='POST'>
                <input type='submit' value='受け取る' class="button">
            </form>
            <button type="button" onclick="history.back()" class="button">戻る</button>
        </div>
    </div>
</body>
</html>