<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>おみくじサイト</title>
</head>
<body>
<h1>おみくじサイト</h1>
<当サイトのおみくじを回すならこちら</p>
<form action='/index' method='POST'>
    <input type='submit' value='占う'/>
<!--    buttonでは動かない-->
</form>
<button type="button" onclick="history.back()">メインページに戻る</button>


<h3>おみくじを作る</h3>
<p>おみくじ名を書いてね</p>
<form action="/add" method="POST">
        <input type="text" name="title" placeholder="title">
        <input type="submit" value="Add">
    </form>

<a href=" http://127.0.0.1:5000/self_omikuzi"><button type="button">自作おみくじをする</button></a>

</body>
</html>
