<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>おみくじ</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
    </head>
    
    <body>
        <div id="home" class="big-bg">
            <header class ="page-header">
                <h1>おみくじサイト</h1>
            </header>
            <p align="center"><font color="#f70101">{{content}}</font></p>
            <div class="home-content wrapper">
                <form action="/index" method="POST">
                    <input type="number" name="money" placeholder="お賽銭" min="0"></br>
                    <input type="submit" value="占う" class="button">
                </form>
                <button type="button" onclick="history.back()">ログアウト</button>
                <a href=" http://127.0.0.1:5000/"><button type="button" class="button">メインページへ戻る</button></a>
            </div>   

        </div>
    </body>
</html>



