<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>おみくじ</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
</head>

<body>

    <div id="home" class="big-bg">
        <header class ="page-header">
            <h1>お金稼ぎサイト</h1>
        </header>

       <br class="home-content wrapper">
            <a href=" http://127.0.0.1:5000/job/neshogatu"><button type="button" class="button">寝正月防止</button></a>
            <a href=" http://127.0.0.1:5000/job/day"><button type="button" class="button">1日1回のみ</button></a>
            <a href=" http://127.0.0.1:5000/job/only_one"><button type="button" class="button">1回きり</button></a>
            <button type="button" onclick="history.back()" class="button">戻る</button>
        </div>
    </div>
</body>
</html>