<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>おみくじ</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
</head>

<body>

    <div id="home" class="big-bg">
        <header class ="page-header">
            <h1>お金稼ぎサイト</h1>
        </header>

        <div class="home-content wrapper">
            <p>だよ〜ん</p>
            <button type="button" onclick="history.back()" class="button">戻る</button>
        </div>
    </div>

</body>
</html>