<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>おみくじ</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style_for_thxmam.css')}}">
</head>

<body>

    <div id="home" class="big-bg">
        <header class ="page-header">
            <h1>年賀状</h1>
        </header>

        <div style="text-align:center;margin-top: 5em;">
            <img src = "/static/images/nengajo.jpg">
        </div><br/>

        <div class="box16">
            <p>年賀状を受け取ったら当選していた!{{tousen}}円ゲット!</p>
        </div>

        <div class="home-content wrapper">
            <button type="button" onclick="history.back()" class="button">戻る</button>
        </div>
        <form action='/job/nengajo' method='POST'>
            <input type='submit' value='受け取る' class="button">
        </form>
    </div>

</body>
</html>