<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>おみくじ</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
</head>

<body>

    <div id="home" class="big-bg">
        <header class ="page-header">
            <h1>お金稼ぎサイト</h1>
            <p align="center"><font size="5">1回きり。1回だけ</font></p>
        </header>
        <div class="home-content wrapper">
            <a href=" http://127.0.0.1:5000/job/NYsgreet"><button type="button" class="button">新年の挨拶をする</button></a>
            <a href=" http://127.0.0.1:5000/job/nengajo"><button type="button" class="button">年賀状を受け取る</button></a>
            <a href=" http://127.0.0.1:5000/job/hurusato"><button type="button" class="button">ふるさと納税をする</button></a>
            <a href=" http://127.0.0.1:5000/job/hatumoude"><button type="button" class="button">初詣に行く</button></a></br>
            <a href=" http://127.0.0.1:5000/job/nisemono"><button type="button" class="button">偽物のおみくじを引く</button></a>
            <a href=" http://127.0.0.1:5000/job/ema"><button type="button" class="button">絵馬を書く</button></a>
            <a href=" http://127.0.0.1:5000/job/otosidama"><button type="button" class="button">お年玉をあげる</button></a>
            <a href=" http://127.0.0.1:5000/job/grandma"><button type="button" class="button">おばあちゃんの家へ行く</button></a></br>
            <a href=" http://127.0.0.1:5000/job/kakizome"><button type="button" class="button">書初めをする</button></a>
            <a href=" http://127.0.0.1:5000/job/oseti"><button type="button" class="button">御節を食べる</button></a>
            <a href=" http://127.0.0.1:5000/job/hatsuyume"><button type="button" class="button">初夢を見る</button></a>
            <button type="button" onclick="history.back()" class="button">戻る</button>
        </div>
    </div>
</body>
</html>